[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/eva02/Documents/documentos/jogos/RetroArch/system/pcsx2/pcsx2.AppImage
Name=PCSX2
Icon=~/.local/share/applications/icons/pcsx2.png
