* {
    background:     {{background}};
    background-alt: {{background}};
    foreground:     {{foreground}};
    selected:       {{color3}};
    active:         {{color3}};
    urgent:         {{color3}};
}
