@import "wallust.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 10px;
}

window#waybar {
    background: @background2;
}

tooltip {
    color: @foreground;
    background: @background;
    border-radius: 2px;
    border-width: 0px;
}

#workspaces {
    padding: 0px;
}

#workspaces button {
    color: @color3;
    background: transparent;
    box-shadow: none;
	text-shadow: none;
    margin: 2px 0px;
    padding: 0px 4px;
    border-radius: 2px;
    animation: ws_normal 5s ease-in-out 1;
}

#workspaces button.active {
    color: @foreground;
    background: @color3;
    padding: 0px 4px;
    animation: ws_active 5s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    color: @foreground;
    background: @color0;
    animation: ws_hover 5s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray {
    color: @color3;
    background: rgba(0, 0, 0, 0.65);
    opacity: 1;
}

#tray menu * {
    min-height: 16px
}

#tray menu separator {
    min-height: 10px
}

#clock:hover {
    color: @color3;
}

#idle_inhibitor,
#clock,
#workspaces,
#window,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#battery,
#disk,
#memory,
#cpu,
#custom-gpu,
#temperature,
#custom-wallchange,
#custom-cliphist,
#custom-power,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    color: @color3;
    background: rgba(0, 0, 0, 0.65);
    opacity: 1;
    margin: 3px 0px 3px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#custom-r_end {
    border-radius: 0px 5px 5px 0px;
    margin-right: 8px;
    padding-right: 0px;
}

#custom-l_end {
    border-radius: 5px 0px 0px 5px;
    margin-left: 8px;
    padding-left: 0px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 8px;
    padding-right: 0px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 8px;
    padding-left: 0px;
}

#custom-rr_end {
    border-radius: 0px 5px 5px 0px;
    margin-right: 8px;
    padding-right: 0px;
}

#custom-rl_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 8px;
    padding-left: 0px;
}
