@import url("./wallust.css");

window#waybar {
    font-size: 0.8rem;
    font-family: "FiraCode Medium";
    background-color: rgba(0, 0, 0, 0);
}

.modules-left, .modules-center, .modules-right  {
    padding: 1px;
    border: 1px solid @color3;
    border-radius: 0.5rem;
    color: rgba(255, 255, 255, 0.45);
    background: linear-gradient(45deg, @background, rgba(0, 0, 0, 0.5));
}

tooltip {
    border: none;
    font-size: 0.65rem;
    font-family: "FiraCode Medium";
    background: @background;
}

tooltip * {
    padding: 2.5px;
    border-radius: 0.5rem;
    color: @foreground;
}

button {
    min-height: 24px;
    min-width: 16px;
}

/* left */
#workspaces {
    padding: 0 5px;
    border-radius: 0.5rem;
}

#workspaces button {
    color: rgba(255, 255, 255, 0.5);
    padding: 0 0.3rem 0 0;
    font-size: 0.6rem;
}

#workspaces button:hover {
    color: rgba(255, 255, 255, 1);
    background: transparent;
}

/* center */
#window {
    padding: 2px 5px;
    border-radius: 0.5rem;
}

window#waybar.empty .modules-center {
    border: none;
    background: transparent;
}

/* right */
#wireplumber {
    padding: 0 0 0 10px; /* inserir esse padding no primeiro modulo */
    color: rgba(255, 255, 255, 0.45);
}

#battery {
    color: rgba(144, 238, 144, 0.5);
}

#disk {
    color: rgba(135, 206, 250, 0.5);
}

#memory {
    color: rgba(255, 182, 193, 0.5);
}

#cpu {
    color: rgba(250, 250, 210, 0.5);
}

#temperature {
    color: rgba(255, 255, 255, 0.45);
}

#idle_inhibitor {
    color: rgba(255, 255, 255, 0.45);
}

#clock {
    padding: 0 10px 0 0; /* inserir esse padding no ultimo modulo */
    color: rgba(255, 255, 255, 0.45);
    font-weight: bolder;
}
