window#waybar {
    font-size: 0.8rem;
    border-radius: 0.5rem;
    background-color: rgba(0,0,0,0);
    font-family: "Hack Mono Nerd Font";
}

.modules-left, .modules-center {
    padding: 1px;
    border-radius: 0.5rem;
    opacity: 1;
    background: linear-gradient(45deg, rgba(0,0,0,0.5), rgba(0, 139, 139, 0.5));
}

.modules-right {
    padding: 0px 5px 0px 15px;
    border-radius: 0.5rem;
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
}

/* left */
#workspaces {
    padding: 0 5px;
    border-radius: 0.5rem;
    background-color: rgba(0,0,0,0.5);
}

#workspaces button {
    padding: 0 0.3rem 0 0;
    font-size: 0.6rem;
}

/* center */
#window {
    padding: 2px 5px;
    border-radius: 0.5rem;
    background-color: rgba(0,0,0,0.5);
}

/* right */        
/* #battery {
    color: rgba(144, 238, 144, 0.5);
} */

#disk {
    color: rgba(135, 206, 250, 0.5);
}

#memory {
    color: rgba(255, 182, 193, 0.5);
}

#cpu {
    color: rgba(250, 250, 210, 0.5);
}

#temperature {
    color: rgba(119, 136, 153, 0.5);
}

#clock {
    padding: 0 5px 0 0;
    border-radius: 0.5rem;
    font-weight: bolder;
}
